*{
    margin:0;
    padding:0;
}

.navbar{
    display: flex;
}
.nav-list{
    align-items: center;
    width: 50%;
    justify-content: center;
    display: flex;
}

.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:33%;
    border: 3px solid white;
    border-radius: 50px;
}
.nav-list li{
    list-style: none;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.nav-list li a:hover{
    color: grey;
}

.rightNav{
    width:50%;
    text-align:right;
}


#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url(img/img.jpg);
    background-size: cover;
    background-blend-mode: darker;
}


.firstSection{
    height: 100vh;
}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secondHalf{
    width:20%;
}
.secondHalf img{
    width: 70%;
    padding:0%;
    border: 4px solid white;
    border-radius: 50px;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
}

.text-big{
    font-size: 40px;
}
.text-small{
    font-size: 20px;
}

.btn{
    background:none;
    color:white;
    border:3px solid white;
    border-radius: 20px;
    size: 50;
    padding: 10px;
    cursor: pointer;
}